@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cta-button {
    @apply px-8 py-4 rounded-xl bg-primary cursor-pointer disabled:cursor-not-allowed;
  }
  .landing-page-section {
    @apply w-[100vw] px-10 max-w-[1100px] mx-auto py-10 font-diatype;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-display: swap;
  font-family: ABC Diatype;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/ABCDiatype-Regular.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: ABC Diatype;
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/ABCDiatype-Medium.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: ABC Diatype;
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/ABCDiatype-Bold.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: ABC Diatype Mono;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/ABCDiatypeMono-Medium.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: ABC Gaisyr;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/ABCGaisyr-Regular.woff2) format("woff2")
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.cursor-blink {
  animation: blink .5s infinite;
}

@keyframes blink {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}

.like-animation path, .like-animation * {
  fill: dodgerblue;
  stroke: dodgerblue;
}
